body{
	margin: 0;
	padding:0;
	background-color:white;
}

.navbar{
	top:0;
	height:80px;
	position: fixed;
	border:none;
}
#top_bar{
	width: 100%;
	height:90px;
	padding:3px 3px;
	border:none;
	background-color: #222;
	top:0;
	position: fixed;
	box-shadow: 0px 2px 10px .3px rgba(0,0,0,0.6);

}
.Menus{
	width:580px;
	height: 50px;
	background-color:;
	padding:5px 10px;
	float: right;
	margin-top:-100px;
	margin-right:10px;

}
.Menus ul li a {
	color:white;
	transition: background-color .5s ease;
}
.Menus a:hover{
	background-color: white;
	color:black;
	transition: background-color .5s ease;

}
.heading{
	color:#8080f5;
	margin-left: 10px;
	font-family: sans-serif;
	width: 200px;
	height:50px;
	padding:5px 5px;
	margin-bottom:50px;
	background-color:;
	text-align: center;
}


#cover_col{
	width:90%;
	height:350px;
	background-color: gray;
	margin-left:55px;
	border:1px solid #8080f5 ;
	padding-bottom:50px;
	margin-top:100px;

}
.my_img{
	width:250px;
	height:250px;
	border-radius: 50%;
	box-shadow: 1px 5px 15px .1px rgba(0,0,0,0.7);
	padding:2px 2px;
	margin-left:200px;
	margin-top:50px;
	background-color: blue;

}

.lines{
	width: 500px;
	height:250px;
	font-size:20px;
	color:#520a0a;
	float: right;
	margin-top:20px;
	margin-right:150px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.E_mail{
	font-size: 20px;
	color:#520a0a;
	text-decoration: none;
	margin-left:50px;
	margin-top:10px;
}
.bar span{
	float: left;
	margin-top:5px;
	color:#222;
}
.my_name ,.line1,.line2{
	margin-left:50px;
	margin-top:5px;

}
.bar{
	width: 100%;
	height:80px;
	border:1px solid #222;
	padding:10px 15px;
	background-color: white;
	border-radius:2px;
	margin-top:10px;
	box-shadow: 0px 1px 15px .3px rgba(0,0,0,0.6);
}

.email{
	color:blue;
	text-decoration: underline;
	margin-left:20px;
}
#Aboutme_col{
	width:90%;
	height:350px;
	background-color:;
	border-bottom:2px solid #222;
	margin-left:55px;
	padding:5px 10px;
	margin-top:20px;

}
.about_me{
	color:#222;
	margin-left:20px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	border-bottom: 2px solid black;
}
.aboutme_col2{
	width:700px;
	height:200px;
	background-color: white;
	margin-left:20px;
	margin-top:30px;
	padding:5px 5px ;
}
.aboutme_col2 h3{
	font-family:Tahoma, Geneva, sans-serif;
	color:#222;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.aboutme_col2 p{
	margin-top:20px;
	font-family: Tahoma, Geneva, sans-serif;
	word-spacing:5px;
}

.hobbies_col{
	width:250px;
	height:250px;
	float: right;
	background-color:#8080f5;
	margin-top:-220px;
	border-radius:50%;
	border:3px solid #222;
	box-shadow: 1px 8px 10px .4px rgba(0,0,0,0.7);
	padding:10px 10px;
}
.hobbies_col img{
	width: 40px;
	height: 40px;
	margin-left:22px;
	margin-top:25px;

}
.hobbies_col h4{
	margin-left:50px;
	margin-top:20px;
	color:#222;
	font-family: Tahoma, Geneva, sans-serif;
}
#Education_col{
	width: 90%;
	height:500px;
	background-color:;
	margin-top:20px;
	margin-left: 55px;
	padding:5px 5px;
	border-radius: 5px;
	display: none;
}
.edu_text{
	border-bottom: 2px solid black;
	font-family:Tahoma,Geneva,sans-serif;
	color:black;
	font-weight: bold;
	margin-left: 10px;
	padding-bottom: 5px;
}
/*   schoooool_column*/

.grad_col{
	width: 100%;
	height: 400px;
	background-color:#fff;
	padding:10px 5px;

}
.grad_col legend{
	width:280px;
	height:35px;
	color:white;
	background-color:gray;
	padding:0px 10px;
	font-size: 19px;
	border:1px solid blue;
	margin-left:30px;
	text-shadow: .5px .5px 1px rgba(0,0,0,0.7);
	font-family: Tahoma,Geneva,sans-serif;
	box-shadow: 0px 5px 10px .3px rgba(0,0,0,0.7);
	text-align: center;
}

.grad_col  fieldset{
	height:350px;
	width:80%;
	margin-left:100px;
	padding:20px 5px;
	border-radius:2px;
	border:1px solid blue;
	background-color: rgba(0,0,0,0.3);
	animation:bounceInLeft 3s ease;

}
.grad_col h5{
	font-family: Tahoma,Geneva,sans-serif;
	font-size:25px;
	color:black;
	width:500px;
	padding-bottom:10px;
	margin-top:-10px;
	border-bottom: 2px solid black;
	margin-left:100px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.8);


}
.Scl_img_btn{
	width: 120px;
	height: 80px;
	background-color:black;
	border:none;
	float: right;
	padding:5px 2px;
	margin-top:-50px;
	margin-right:10px;
	border-radius:5px;
	box-shadow:0px 5px 10px .5px rgba(0,0,0,0.5);


}
.scl_img{
	height:65px;
	width:110px;
}
.scl_img:hover{
	opacity: .5;
}

#myModal{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	display:none;
}

.img_modal{
	width: 750px;
	height:320px;
	padding:10px 15px;
	background-color:white;
	margin-left:320px;
	margin-top:70px;
	position: fixed;
	border-radius: 5px;

}

.clg_img{
	width: 720px;
	height:300px;
	box-shadow: 0px 5px 10px .3px rgba(0,0,0,0.5);

}
.edu_col{
	width: 700px;
	height:200px;
	background-color:;
	margin-left: 50px;
	padding:5px 10px;
}
.edu_col_lines{
	width: 550px;
	padding:5px 10px;
	background-color: white;
	margin-top:20px;
	margin-left: 50px;
	color:#222;
	border-radius:2px;
	box-shadow: 0px 8px 10px .5px rgba(0,0,0,0.7);
	display: none;
	animation: flash 5s ease;

}
.edu_col_lines p{
	float: right;
	color:brown;
	font-weight: bold;

}

